*{
    box-sizing: border-box;
}

:root{
    --background: #405461;
    --primary: rgba(0,0,0, 0.9);
    --gold: rgb(235, 220, 220);
    --white: white;
    --secondary: rgb(86, 149, 232);
    --font-family:Georgia, 'Times New Roman', Times, serif;
}


body{
    background-color: var(--background);
    margin: 0;
    padding: 0;
}


/* Nav Bar*/
.navbar{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: var(--primary);
    overflow-x: hidden;
    transition: 0.5s;
}

.nav-items{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.navbar .logo{
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 700;
}
.navbar .logo span{
    color: var(--secondary);
}

.navbar a{
    padding: 5px;
    font-size: 28px;
    text-decoration: none;
    color: var(--white);
    display: block;
    transition: 0.5s;
}

.navbar #toggle{
    position: absolute;
    right: 0;
    font-size: 24px;
}
.navbar #toggle-close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px;
}



/* HERO SECTION*/

.hero-section{
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    font-size: 4vw;
}

@media only screen and (max-width: 768px) {
    .hero-section{
        font-size: 6vw;
        max-width: 80%;
        color: var(--white);

    }
    
}

.hero-section #explore{
    border: 2px solid var(--secondary);
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
