:root{
    --background: #405461;
    --primary: rgba(0,0,0, 0.9);
    --gold: rgb(235, 220, 220);
    --white: white;
    --secondary: rgb(86, 149, 232);
    --font-family:Georgia, 'Times New Roman', Times, serif;
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

:root, html, body{
    height: 100%;
}


body{
    background-color: var(--background);
    font-family: var(--font-family);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: var(--primary);
    color: var(--white);
}

.logo{
    font-family: var(--font-family);
    font-weight: bold;
    color: var(--white);
    text-decoration: none;
    font-size: 2rem;
    display: inline-block;
}

.logo-colored{
    color: var(--secondary);
}
.nav-items{
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.nav-link:any-link{
    display: inline-block;
    color: var(--white);
    text-decoration: none;
    transition: .3s;
    font-size: 1.6rem;
}

.nav-link:hover{
    color: var(--secondary);
}

.btn-toggle{
    display: none;
    font-size: 2rem;
    color: var(--white);
    cursor: pointer;
}

.btn-toggle .btn-close{
    display: none;
}



@media  (max-width: 768px) {

    .btn-toggle{
        display: block;
    }

    .btn-toggle .btn-open.act{
        display: block;
    }

    .nav-items {
        position: absolute;
        top: 6rem;
        left: 0;
        width: 100%;
        height: 91vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--primary);
        backdrop-filter: blur(5px);
        transform: translateX(-100%);
        transition: .3s;
        z-index: 100;
    }

    .nav-items.active{
        transform: translateX(0);
    }
    .nav-link:any-link{
        font-size: 3rem;
    }
}


/* HERO SECTION*/

.hero-section{
    text-align: center;
    max-width: 60%;
    margin: 0 auto;
    font-size: 4vw;
}

@media only screen and (max-width: 768px) {
    .hero-section{
        font-size: 6vw;
        max-width: 80%;
        color: var(--white);

    }
    
}

.hero-section #explore{
    border: 2px solid var(--secondary);
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
